@page "/"
@using System.Collections.Generic
@using Front.Services
@using Shop_API.Models

<PageTitle>Каталог товаров</PageTitle>

@inject HttpClient httpClient



<h3>Каталог товаров</h3>

@if (products != null)
{
    <ul>
        @foreach (var product in products)
        {
            <li class="d-flex flex-row">
                <div>
                    @product.Name  @product.Cost
                </div>
                <button class="btn bg-primary" @onclick="() => AddToCard(product.Id)">Добавить в корзину</button>
            </li>
        }
    </ul>

    @CartService.CartItems.Count
}
else
{
    <p>Loading...</p>
}

@code {
    private List<Product> products;

    [Inject]
    private ApiService ApiService { get; set; }

    [Inject]
    private CartService CartService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        products = await ApiService.GetProductsAsync();
    }

    private async Task AddToCard(int productId)
    {
        CartService.CartItems.Add(products.FirstOrDefault(p => p.Id == productId));
    }

    private async Task DeleteProductAsync(int productId)
    {
        await ApiService.DeleteProductAsync(productId);
        products = await ApiService.GetProductsAsync();
    }
}
