@page "/login"
@using Front.Services

@inject HttpClient HttpClient
@inject IJSRuntime JS
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<div class="form-group">
    <label for="login">Логин:</label>
    <input type="text" class="form-control" id="login" @bind="Login1" />
</div>

<div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" class="form-control" id="password" @bind="Password" />
</div>

<NavLink class="nav-link" href="register">
    Регистрация
</NavLink>

<button type="button" class="btn btn-primary" @onclick="HandleLogin">Войтт</button>

@code {
    private string Login1 { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; }

    private async Task HandleLogin()
    {
        try
        {
            var authService = new AuthService(HttpClient);
            var res = await authService.Login(Login1, Password);
            await JS.InvokeVoidAsync("alert", res);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
