@using Shop_API.Models;
@using Front.Services;
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
@page "/orderspage"



<h3>Orders</h3>
<p>Апи ключ: @key</p>
<button class="btn btn-primary" @onclick="OnInitializedAsync">Обновить</button>
@foreach (var order in OrderItems)
{


    <div style="border: 1px solid gray; padding:10px;">
        <p>@order.Id</p>
        <p>Сумма: @order.SumCost</p>
    </div>
}

@code {
    public List<Order> OrderItems { get; set; } = new();

    string key = "";
    protected override async Task OnInitializedAsync()
    {
        // Попытка получения текущего значения счетчика из локального хранилища
        key = await localStorage.GetItemAsync<string>("key");
    }

}
