@page "/register"
@using Front.Services

@inject HttpClient HttpClient
@inject IJSRuntime JS

<h3>Регистрация</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<div class="form-group">
    <label for="login">Login:</label>
    <input type="text" class="form-control" id="login" @bind="Login1" />
</div>

<div class="form-group">
    <label for="name">Имя:</label>
    <input type="text" class="form-control" id="name" @bind="Name" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" @bind="Password" />
</div>

<button type="button" class="btn btn-primary" @onclick="HandleLogin">Register</button>
<p style="font-size:9px;color:gray;">Женя гей  псс.. мне сказали, что он ценит такие шутки</p>

@code{
    private string Login1 { get; set; }
    private string Password { get; set; }
    private string Name { get; set; }
    private string ErrorMessage { get; set; }

    private async Task HandleLogin()
    {
        try
        {
            var authService = new AuthService(HttpClient);
            var res = await authService.Register(Login1, Password, Name);
            await JS.InvokeVoidAsync("alert", res);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}